* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}

body {
  font-family: "Jost", sans-serif;
}

.footer__subscription .container{
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding: 40px 15px;
}
.footer__subscription {
  background-image: url(../images/map.png);
  background-color: #151421;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
 
 
}
.footer__subscription p {
  color: rgba(238, 238, 238, 0.795);
  font-size: 15px;
  padding-top: 15px;
}

.footer__subscription h3 {
  color: #eee;
  font-size: 30px;
  font-weight: 700;

}
.footer__content {
  max-width: 700px;
  margin: 0 auto;
}
.form__input {
  display: flex;
  width: 100%;
  max-width: 550px;
  margin: auto;
position: relative;}

.form__input input{
  padding: 14px 20px;
    font-size: 16px;
    line-height: 28px;
    border: 1px solid ;
    width: 100%;
    color: #999;
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgba(255, 255, 255, 0.15);
 
}
.form__input .icon__input {
  border: 1px solid rgba(255, 255, 255, 0.15) ;
  color: #999;
  padding: 16px 17px;
  border-radius: 5px 0 0 5px;
 
font-size: 15px;
}
.subscribe {
  display: flex;
  margin-top: 40px;

}
.subscribe button{
  cursor: pointer;
  color: #fff;
    background-color: #00a63f;
    border-color: #00a63f;
   border-radius: 0 10px 10px 0;
   padding: 5px 30px;
   font-weight: 700;
   font-size: 15px;
}
