* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* padding-top: 150px; */
}
html,
body {
  font-family: "Jost", sans-serif;
  line-height: 3;
  font-size: 10px;
}
body.search-active {
  overflow: hidden;
}
body.search-active .search-input {
  opacity: 1;
  transform: none;
  pointer-events: all;
}
body.search-active .icon-close {
  opacity: 1;
  transform: rotate(-90deg);
}
body.search-active .control {
  cursor: default;
}
body.search-active .control .btn-material {
  transform: scale(70);
}
body.search-active .control .icon-material-search {
  opacity: 0;
}
.btn-search-header {
  line-height: 45px;
  text-align: center;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  box-sizing: border-box;
  background: var(--primary-color);
  outline: 0;
  transform-origin: 50%;
  transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #009f4d;
  cursor: pointer;
}
.btn-search-header i {
  color: #fff;
  transition: opacity 0.3s ease-in-out;
  font-size: 16px;
  vertical-align: middle;
}
#darkBody {
  background-color: #151421;
}
#switchButton {
  background-color: white;
}
#switchButton .fa-sun {
  display: none;
}
#switchButton .fa-moon {
  display: block;
}

/* Dark Theme*/
.dark#darkBody {
  background-color: white;
}
.dark #switchButton {
  background-color: black;
}
.dark #switchButton .fa-sun {
  display: block;
  color: white;
}

.dark #switchButton .fa-moon {
  display: none;
}
.dark .card {
  background-color: black;
  color: white;
}
header {
  position: absolute;
  width: 100%;
  height: 100px;
  top: 0;
  left: 50%;
  z-index: 100;
  /* transform: translateX(-50%); */
  border-bottom: 2px solid rgba(231, 231, 231, 0.18);
  background-color: transparent;
}
header .container {
  max-width: 1250px;
}
header .navbar-logo {
  font-size: 2rem;
  color: #fff;
}
.navbar .navbar-logo {
  font-weight: 600;
  font-size: 35px;
}

header .navbar .navbar-logo {
  color: #fff;
}
header .navbar .navbar-logo .fa-align-right {
  color: #009f4d;
  margin-right: 5px;
  vertical-align: bottom;
}
header .navbar .navbar-logo .logo {
  text-transform: none;
  display: block;
  font-size: 16px;
  padding-left: 32px;
  font-weight: 600;
  opacity: 1;
}

#navbarmenu .nav-item {
  margin: 0 10px;
}
#navbarmenu .nav-link i {
  font-size: 12px;
  transform: translateY(-2px);
}
.nav-fixed #navbarmenu .nav-item .nav-link {
  color: #3f3a64;
}
.nav-fixed #navbarmenu .nav-item .nav-link.active {
  color: #009f4d;
}
#navbarmenu .nav-item .nav-link {
  color: #fff;
  transition: all 0.5s ease;
  font-size: 16px;
  padding: 14px 0 10px;
  text-transform: uppercase;
  font-weight: 600;
  opacity: 0.5;
}
#navbarmenu .nav-item .nav-link:hover {
  color: #009f4d;
}
#navbarmenu .active .nav-link {
  opacity: 1;
  color: #009f4d;
}
#navbarmenu .header-search {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  border-radius: 100%;
  outline: 0;
  background-color: #009f4d;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  color: #fff;
}
#navbarmenu .header-darkLight {
  font-size: 20px;
  padding-right: 26px;
  color: #fff;
}
#navbarmenu .dropdown-menu {
  width: 180px;
  border-radius: 10px;
  transform: translateX(-60px);
  position: absolute;
  border: none;
}
#navbarmenu .dropdown-menu a {
  text-transform: uppercase;
  font-weight: 500;
  color: #3f3a64;
}

#navbarmenu .dropdown-menu::before {
  content: "";
  position: absolute;
  border-width: 12px 10px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  right: 80px;
  top: -24px;
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 2px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 2rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.slide-main {
  height: auto;
  position: relative;
  overflow: hidden;
}

.shape {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.shape svg {
  width: 100%;
}

.shape path {
  fill: white;
}
.dark-theme .shape path {
  fill: #151421;
}
.banner-slider {
  height: 100%;
}

.banner-slider > .banner-slide {
  display: none;
}

.banner-slider > .banner-slide:first-child {
  display: block;
}

.banner-slide {
  min-height: 100vh;
  position: relative;
  z-index: 0;
  display: grid;
  align-items: center;
  padding: 3em 0;
}

.slide-main__item {
  background-size: cover;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: top;
}

header.main-header {
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 100px;
  display: grid;
  align-items: center;
  z-index: 10;
  border-bottom: 1px solid rgba(231, 231, 231, 0.18);
}

header.active {
  background: rgba(0, 0, 0, 0.7);
}

button.navbar-toggler .icon-close {
  display: block;
}

button.navbar-toggler .icon-expand {
  display: none;
}

button.navbar-toggler.collapsed .icon-close {
  display: none;
}

button.navbar-toggler.collapsed .icon-expand {
  display: block;
}

.navbar {
  padding: 0;
}

.navbar .navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
}

.navbar .navbar-brand span.fa {
  color: #00a63f;
  margin-right: 5px;
  vertical-align: bottom;
}

.navbar .navbar-brand span.logo {
  text-transform: none;
  display: block;
  font-size: 14px;
  padding-left: 46px;
  font-weight: 600;
  opacity: 0.9;
}

.navbar .navbar-brand img {
  max-width: 140px;
  transition: all 0.5s ease;
}

.navbar-expand-lg .navbar-nav .nav-item {
  padding: 0 12px;
  transition: all 0.5s ease;
  position: relative;
}

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  color: #ffffff;
  opacity: 1;
}

.navbar-expand-lg .navbar-nav .nav-link {
  transition: all 0.5s ease;
  padding: 14px 0 10px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  opacity: 0.8;
  text-transform: uppercase;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  opacity: 1;
  color: #fff;
}

a.dropdown-item {
  font-size: 15px;
  color: #3f3a64;
  background: none;
  opacity: 0.8;
  font-weight: 600;
  padding: 6px 20px;
  text-transform: uppercase;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #3f3a64;
  text-decoration: none;
  background: none;
  opacity: 1;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  transform: translateX(-50px);
  background: #3f3a64;
  border: 1px solid #eee;
  border-radius: 8px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu:before {
  content: "";
  width: 14px;
  height: 14px;
  background: #3f3a64;
  border: 1px solid #eee;
  display: block;
  border-right: none;
  border-bottom: none;
  transform: translateX(-50%) rotateZ(45deg);
  position: absolute;
  top: -7px;
  left: 49%;
  z-index: 1001;
}

header.nav-fixed {
  padding: 0px;
  background-color: #fff;
  height: 80px;
  border-bottom: none;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
}

.dark-theme header.nav-fixed {
  background-color: #151421;
}

.navbar-dark .navbar-nav .show >,
.navbar-dark .navbar-nav .nav-link.show {
}

nav ul li {
  display: inline-block;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}

nav ul li a:hover {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link:focus {
  color: #eee;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  min-width: 12rem;
  padding: 1rem 0;
}

.nav-fixed .navbar-expand-lg .navbar-nav .nav-link {
  color: #3f3a64;
  opacity: 0.7;
}

.nav-fixed .navbar-expand-lg .navbar-nav li.nav-item.active .nav-link {
  color: #009f4d;
  opacity: 0.9;
}

.nav-fixed .navbar-expand-lg .mode-container i {
  color: #3f3a64;
  opacity: 0.9;
}

.nav-fixed .navbar-expand-lg .navbar-brand {
  color: #3f3a64;
}

.dark-theme .nav-fixed .navbar-expand-lg .navbar-brand {
  color: #eee;
}

.nav-fixed .navbar-expand-lg .navbar-brand span.sub-log {
  border-top: 8px solid #009f4d;
}

.dropdown-item:hover,
.dropdown-item:focus {
  opacity: 1;
  color: #3f3a64;
  text-decoration: none;
  background-color: transparent;
}

.navbar .search-right {
  margin: 0 20px;
}

.navbar .search-right a {
  display: block;
  padding: 14px 0px;
  margin-top: 5px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  opacity: 0.8;
}

.nav-fixed .search-right a {
  color: #666;
}

.nav-fixed .search-right a:hover {
  color: #3f3a64;
}

.navbar .search-right a:hover {
  color: #fff;
  opacity: 1;
}

.nav-fixed .search-right a:hover {
  color: #009f4d;
}

@media only screen and (max-width: 1440px) {
  .navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 10px;
  }
  .navbar-expand-lg .nav_btn > li {
    padding: 0;
  }
}

@media only screen and (max-width: 1199px) {
  .navbar .navbar-brand {
    font-size: 32px;
  }
  .navbar .navbar-brand img {
    max-width: 109px;
  }
  .navbar-expand-lg .btn-gradient {
    padding: 10px 20px;
    font-size: 14px;
  }
  .navbar-expand-lg .navbar-nav.nav_btn > li {
    margin-left: 0px;
  }
  .navbar-expand-lg .navbar-nav.nav_btn a.btn {
    padding: 10px 20px;
  }
  .navbar-expand-lg .navbar-nav.nav_btn a {
    font-size: 14px;
    padding: 0px;
  }
}

@media only screen and (max-width: 991px) {
  .navbar-collapse {
    max-height: calc(100vh - 80px);
    overflow-y: scroll;
  }
  .mobile-position {
    position: absolute;
    right: 44px;
    top: 18px;
  }
  .navbar .navbar-brand img {
    max-width: 140px;
  }
  .navbar-toggler {
    border: 0 none;
    font-size: 24px;
  }
  .navbar-nav {
    -webkit-animation-name: none;
    animation-name: none;
    float: left;
    text-align: center;
    width: 100%;
    padding: 20px 0 0px;
  }
  .navbar-nav:last-child {
    border: 0;
  }
  .navbar-expand-lg .navbar-nav .nav-item {
    -webkit-animation-name: none;
    animation-name: none;
    padding: 0;
  }
  .navbar-expand-lg .navbar-nav.nav_btn > li {
    padding-bottom: 10px;
  }
  .navbar-nav .dropdown-menu {
    text-align: center;
  }
  .navbar-nav .dropdown-menu .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .navbar-expand-lg .navbar-nav .nav-item .nav-link.active::before {
    bottom: 0;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    display: inline-block;
    padding: 6px 0;
    text-align: center;
  }
  header.main-header {
    height: auto;
    padding: 20px 0;
    background-color: transparent;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    transform: translateX(0px);
  }
  header.nav-fixed {
    height: auto;
    padding: 15px 0;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    display: block;
  }
  .navbar-dark .navbar-toggler-icon {
    background-image: none;
    padding: 0;
    width: 34px;
    height: 34px;
    display: inline-block;
    background: #009f4d;
    border-radius: 4px;
    text-align: center;
  }
  .navbar-toggler-icon.fa {
    font-size: 20px;
    line-height: 1.2em;
    color: #fff;
    line-height: 34px;
  }
  .navbar-toggler {
    padding: 0rem 0rem !important;
  }
  .navbar .search-right {
    margin: 0px auto;
  }
  .navbar .search-right a {
    color: #fff;
  }
  .nav-fixed .search-right a {
    color: #3f3a64;
  }
  a.login {
    padding: 0px 0 10px;
  }
}

@media only screen and (max-width: 480px) {
  .navbar-brand img {
    max-width: 200px;
  }
  .mobile-position {
    top: 13px;
  }
  .navbar .navbar-brand {
    font-size: 26px;
  }
  .navbar .navbar-brand span.logo {
    font-size: 13px;
    padding-left: 38px;
  }
  .navbar .search-right .popup {
    padding: 40px 30px;
  }
  .navbar .search-right .popup form input[type="search"] {
    font-size: 20px;
    height: 60px;
    padding: 0 30px;
  }
  .navbar .search-right .popup form button {
    height: 60px;
  }
}

.bg1 {
  background: url(https://wp.w3layouts.com/corpvision/wp-content/themes/corpvision/assets/images/b1.jpg);
}
.bg2 {
  background: url(https://wp.w3layouts.com/corpvision/wp-content/themes/corpvision/assets/images/b2.jpg);
}

.bg3 {
  background: url(https://wp.w3layouts.com/corpvision/wp-content/themes/corpvision/assets/images/b3.jpg);
}

.bg4 {
  background: url(https://wp.w3layouts.com/corpvision/wp-content/themes/corpvision/assets/images/b4.jpg);
}

.slick-initialized .banner-slide {
  position: relative;
  min-height: 800px;
  padding-bottom: 100px;
  display: flex !important;
  align-items: center;
}
.dark-theme .banner-slider .slick-arrow {
  background-color: #151421;
}
.banner-slider .slick-arrow {
  position: absolute;
  right: 25px;
  bottom: 50px;
  font-size: 0;
  background: #fff;
  border: 0;
  width: 50px;
  height: 50px;
  z-index: 12;
  outline: none;
  cursor: pointer;
  border-radius: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.12);
  border: 1px solid #eee;
}
.dark-theme .banner-slider .slick-arrow:before {
  color: white;
}
.banner-slider .slick-arrow:before {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 16px;
  text-align: center;
  line-height: 46px;
  color: #3f3a64;
}

.banner-slide__btn {
  padding: 15px 50px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  transition: 0.3s ease-in;
  border-radius: 8px;
  color: #fff;
  background-color: #00a63f;
  border-color: #00a63f;
}

.banner-slider .slick-arrow.slick-prev {
  right: 95px;
}

.banner-slider .slick-arrow.slick-prev:before {
  content: "\f060";
}

.banner-slider .slick-arrow.slick-next {
  right: 25px;
}

.banner-slider .slick-arrow.slick-next:before {
  content: "\f061";
}

.hero-image {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.slide-main .container {
  position: relative;
  z-index: 12;
}

.hero-overlay {
  background: rgba(29, 42, 55, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero-content {
  color: #ffffff;
}

.hero-content p {
  font-size: 20px;
  line-height: 30px;
  max-width: 600px;
  color: #fff;
  letter-spacing: 0.01em;
  opacity: 0.9;
}

.blog-detail-banner .hero-content {
  max-width: 900px;
}

.blog-detail-banner .hero-content h1 {
  font-size: 53px;
}

.hero-content h3 {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  letter-spacing: 3px;
  position: relative;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 12px;
  margin-left: 6px;
}

.hero-content h1 {
  font-size: 65px;
  line-height: 1.1;
  margin-bottom: 18px;
  color: #e6e8f6;
  max-width: 800px;
  font-weight: 600;
}

.hero-content .cta-btn {
  padding-top: 30px;
}

.hero-content .cta-btn .cta-link.cta-outline-white:hover {
  background: #ffffff;
  color: #002147;
}

@media (max-width: 1280px) {
  .hero-content h1 {
    font-size: 55px;
  }
}

@media (max-width: 991px) {
  .slick-initialized .banner-slide {
    min-height: 700px;
  }
  .hero-content h1 {
    font-size: 50px;
  }
}

@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 45px;
  }
  .hero-content p {
    font-size: 18px;
    line-height: 28px;
  }
  .slick-initialized .banner-slide {
    min-height: 650px;
    padding-bottom: 40px;
  }
}

@media (max-width: 568px) {
  .hero-content h1 {
    font-size: 40px;
  }
  .slick-initialized .banner-slide {
    min-height: 600px;
    padding-bottom: 0px;
  }
}

@media (max-width: 480px) {
  .hero-content h1 {
    font-size: 36px;
  }
  .slick-initialized .banner-slide {
    min-height: 550px;
  }
  .banner-slider .slick-arrow.slick-prev {
    right: 80px;
  }
  .banner-slider .slick-arrow {
    width: 45px;
    height: 45px;
  }
  .banner-slider .slick-arrow:before {
    font-size: 14px;
    line-height: 42px;
  }
}

@media (max-width: 415px) {
  .hero-content h1 {
    font-size: 32px;
  }
}

@media (max-width: 384px) {
  .hero-content h1 {
    font-size: 28px;
    line-height: 1.2;
  }
}

@media (max-width: 375px) {
  .hero-content h1 {
    font-size: 27px;
  }
}

.footer__subscription .container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding: 40px 15px;
}
.footer__subscription {
  background-image: url(../images/map.png);
  background-color: #151421;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* khi nào viết hết mấy phần trên xoá phần padding vì code css của header possion bị đè */
  /* padding: 250px; */
  margin-top: 10rem;
  padding: 4.8rem 0;
}
.footer__subscription p {
  color: rgba(238, 238, 238, 0.795);
  font-size: 15px;
  padding-top: 15px;
}

.footer__subscription h3 {
  color: #eee;
  font-size: 3.5rem;
  font-weight: 700;
}
.footer__content {
  max-width: 700px;
  margin: 0 auto;
}
.form__input {
  display: flex;
  width: 100%;
  max-width: 550px;
  margin: auto;
  position: relative;
}

.form__input input {
  padding: 14px 20px;
  font-size: 16px;
  line-height: 28px;
  border: 1px solid;
  width: 100%;
  color: #999;
  background-color: #151421;
  border-color: rgba(255, 255, 255, 0.15);
}
.form__input .icon__input {
  border: 1px solid rgba(255, 255, 255, 0.15);
  color: #999;
  padding: 16px 17px;
  border-radius: 5px 0 0 5px;

  font-size: 15px;
}
.subscribe {
  display: flex;
  margin-top: 40px;
}
.subscribe button {
  cursor: pointer;
  color: #fff;
  background-color: #00a63f;
  border-color: #00a63f;
  border-radius: 0 10px 10px 0;
  padding: 5px 30px;
  font-weight: 700;
  font-size: 15px;
}
/* footer content */
.footer__header {
  margin-bottom: 1.5rem;
  margin-top: -30px;
}

.footer__header span {
  font-size: 30px;
  font-weight: 600;
  color: white;
  margin-right: 5px;
  vertical-align: bottom;
}
.footer__header p {
  color: #eee;

  display: block;
  font-size: 15px;
  padding-left: 46px;
  font-weight: 600;
}
.footer__content2 p {
  margin-bottom: 0;
  font-size: 18px;
  line-height: 28px;
  color: #97a1a9;
}
.footer__header i {
  color: #009f4d;
}
.footer__header .container {
  max-width: 1200px;
  margin-top: 20px;
}
.footer__link .list__link {
  display: flex;
}
.footer__link {
  margin-top: 1.5rem;
}
.footer__link a {
  margin-right: 15px;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  background: none;
  border-radius: 50%;
  color: #97a1a9f5;
  list-style: none;
}
.footer__link li {
  list-style: none;
}
.footer__content2 h3 {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 25px;
  font-weight: 400;
  position: relative;
  color: #fff;
}
.footer__content2 p {
  font-size: 18px;
  line-height: 28px;
  color: #97a1a9;
}
.footer__content2 .content li {
}
.footer__content2 .content a {
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #97a1a9;
}

.footer__content2 .content a:hover {
  color: white;
  text-decoration: none;
}

.footer__contact {
  background-color: #151421;
  border-top: 1px solid rgba(249, 249, 249, 0.1);
  padding: 10rem 0;
}

.footer__header-info span.logo i {
  color: #009f4d;
}
.footer__header-info p {
  text-transform: none;
  display: block;
  font-size: 14px;
  padding-left: 46px;
  font-weight: 600;
  /* opacity: 0.9; */
}
.footer__header-info .navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 28px;
  color: #fff;
  opacity: 1;
}

.footer__header-info .navbar-brand p {
  color: white;
}
.footer__contact .link {
  display: flex;
  flex-direction: column;
}

/* reponsive */
@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  header .navbar {
    margin-top: 8px;
    margin-left: 14px;
  }
  header .navbar-toggler {
    border: none;
  }
}

@media screen and (max-width: 480px) {
  header .navbar {
    padding: 30px 0px;
  }
}

/* w3-blog  */
.w3-blog {
  padding: 5rem 0;
}
.blog__title {
  text-align: center;
}
.blog__title h5 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1px;
  color: #97a1a9;
  display: block;
}
.blog__title h3 {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
}
.article {
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 4%);
  border: 1px solid transparent;
}
.dark-theme .article {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.article .card__body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}
.card__body .hello {
  display: block;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  margin-top: 10px;
  color: #000;
  text-decoration: none;
}

.card__body:hover .hello {
  color: #00a63f;
  transition: 1.3s;
}
.card__footer:hover .W3Layouts {
  color: #00a63f;
  transition: 1.3s;
  text-decoration: none;
}
.card__body .Startup {
  font-weight: 400;
  font-size: 17px;
  color: #999;
  text-decoration: none;
}
.article .card__header {
  border: none;
}
.card__header a {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.card__header img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}
.card__footer {
  background: #fff;
  border-top: 1px solid #eee;
  padding: 0.75rem 1.25rem;
  display: flex;
}
.dark-theme .card__footer {
  background-color: #151421;
}
.card__footer p {
  padding-left: 15px;
  color: #97a1a9;
  font-size: 15px;
  font-weight: 600;
  width: 100%;
  display: flex;
  align-items: center;
}
.card__footer .W3Layouts {
  font-size: 16px;
  color: #000;
  font-weight: 600;
  line-height: 26px;
  text-transform: capitalize;
  padding-left: 5px;
}
.card__footer span {
  font-size: 15px;
  width: 100%;
  text-align: right;
  color: #151421b4;
}
.card__header:hover img {
  overflow: hidden;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
.card__header .zoom img {
  transition: 0.3s ease-in-out;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.card__footer a img {
  border: 1px solid transparent;
  border-radius: 50px;
}
/* dark theme */
.dark-theme .card__body .hello {
  color: white;
}
.dark-theme .card__body .hello:hover {
  color: #00a63f;
}
.dark-theme .card__footer .W3Layouts {
  color: #fff;
}
.dark-theme .card__footer span {
  color: rgba(255, 255, 255, 0.432);
}
.dark-theme .card__footer:hover .W3Layouts {
  color: #00a63f;
  transition: 1.3s;
}

.web-design {
  padding: 10rem 0;
}

.web-design__wrap-img {
  border-radius: 8px;
  overflow: hidden;
}
.web-design__wrap-img img {
  width: 100%;
  height: auto;
}
.web-design__wrap-progress {
  margin-top: 2rem;
}
.web-design__wrap-progress-bar {
}
.web-design__wrap-progress-item {
  margin-bottom: 30px;
}
.web-design__title {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1px;
  color: #7e7d7d;
  display: block;
}
.dark-theme .web-design__title-big {
  color: #eee;
}
.web-design__title-big {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
}

.progress-item {
  display: flex;
  height: 4px;
  /* overflow: hidden; */
  font-size: 0.75rem;
  background-color: #f7f7f7;
  border-radius: 0.25rem;
}

.dark-theme .progress-item {
  background-color: #100f19;
}

.web-design__progress-item-title {
  font-size: 18px;
  color: black;
  margin-bottom: 10px;
  font-weight: 400;
}
.dark-theme .web-design__progress-item-title {
  color: #eee;
}
.progress-item__bar {
  position: relative;
  color: #61fded;
  background-image: linear-gradient(-224deg, #0d8abc, #61fded);
  background-size: cover;
}
.web-design__wrap-progress-item--color1 .progress-item__bar {
  color: #61fded;
  background-image: linear-gradient(-224deg, #0d8abc, #61fded);
}
.web-design__wrap-progress-item--color2 .progress-item__bar {
  color: #eece90;
  background-image: linear-gradient(-224deg, #d45529, #eece90);
}
.web-design__wrap-progress-item--color3 .progress-item__bar {
  color: #5c51ff;
  background-image: linear-gradient(-224deg, #f646a9, #5c51ff);
}
.web-design__wrap-progress-item--color4 .progress-item__bar {
  color: #e5529a;
  background-image: linear-gradient(-224deg, #e77654, #e5529a);
}

.progress-item__bar::after {
  content: "";
  width: 28px;
  height: 28px;
  position: absolute;
  right: -3px;
  top: 2px;
  border-radius: 50%;
  transform: translate(50%, -50%);
  opacity: 0.3;
  border: 1px solid;
}

.progress-item__bar::before {
  content: "";
  position: absolute;
  right: -3px;
  top: 2px;
  border-radius: 50%;
  transform: translate(50%, -50%);
  height: 13px;
  width: 13px;
  border: 3px solid;
}
.progress-item__percent {
  color: black;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  bottom: 0;
  right: 0;
}
.dark-theme .progress-item__percent {
  color: #eee;
}
.feedback {
  background: #f8f9fa;
}
.dark-theme .feedback {
  background-color: #100f19;
}

.feedback .testimonial {
  position: relative;
  overflow: hidden;
  text-align: center;
}

.feedback .testimonial {
  display: block;
  padding: 40px 30px;
  position: relative;
  border: none;
  max-width: 900px;
  margin: auto;
}

.feedback blockquote q {
  font-size: 18px;
  line-height: 28px;
  color: #666;
  opacity: 0.8;
}

.feedback blockquote q::before {
  display: none;
}

.feedback .test-img {
  width: 70px;
  height: 70px;
  display: inline-block;
  overflow: hidden;
  /* background: grey; */
  border-radius: 50%;
}

.feedback .testimonial img {
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.testi-des {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  text-align: left;
  grid-gap: 20px;
}

.feedback .testimonial blockquote {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  position: relative;
  margin-bottom: 1.5em;
}

.w3l-clients .testimonial .peopl {
  margin: 0;
  margin-left: 20px;
  text-align: left;
}

.feedback .testimonial .peopl h3 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
}

.dark-theme .feedback .testimonial .peopl h3 {
  color: #eee;
}

.feedback p.indentity {
  font-style: normal;
  margin-bottom: 0;
  opacity: 0.8;
  font-size: 17px;
  line-height: 27px;
}

.dark-theme .feedback p.indentity {
  color: #c2c2c2;
}

@media (max-width: 768px) {
  .feedback .testimonial {
    padding: 20px 30px;
  }
}

@media (max-width: 415px) {
  .feedback .testimonial {
    padding: 20px 0px;
  }
}

.owl-two.owl-carousel.owl-theme .owl-dots {
  text-align: center;
  position: inherit;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin-top: 80px;
}

.owl-two.owl-theme .owl-dots .owl-dot.active span,
.owl-two.owl-theme .owl-dots .owl-dot:hover span {
  background: #213364;
  opacity: 1;
  transform: scale(1.2);
}

.owl-two.owl-theme .owl-dots .owl-dot span {
  border-radius: 50%;
  margin: 1px 6px;
  background: #213364;
  opacity: 0.5;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 2px;
  background: #aaa;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 0.2s ease;
  position: relative;
  opacity: 0.9;
  border-radius: 8px;
}
.feedback__wrap {
  padding: 5rem 0;
}

.feedback__title {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1px;
  color: #7e7d7d;
  display: block;
}
.feedback__big-title {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  color: #3f3a64;
}
.dark-theme .feedback__big-title {
  color: #eee;
}
.image-gallery {
  padding: 5rem 0;
  background: #f8f9fa;
}

.dark-theme .image-gallery {
  background-color: #100f19;
}

.image-gallery a.zoom {
  overflow: hidden;
  position: relative;
}

.image-gallery a.zoom img {
  transition: 0.3s ease-in-out;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.image-gallery a:hover img {
  overflow: hidden;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.image-gallery span.hover-content {
  position: absolute;
  bottom: -100%;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  padding: 46px 50px;
  color: #ffffff;
  z-index: 2;
}

.image-gallery span.hover-content .title {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  display: block;
  margin-bottom: 10px;
}

.image-gallery span.hover-content .content {
  font-size: 18px;
  color: #eee;
  display: block;
}

.image-gallery .overlay__hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(29, 42, 55, 0.7);
  transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.image-gallery a.zoom:hover .hover-content {
  bottom: 0;
  visibility: visible;
  opacity: 1;
}

.image-gallery a.zoom:hover .overlay__hover {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 480px) {
  .image-gallery span.hover-content {
    padding: 36px 40px;
  }
}
.image-gallery__title {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1px;
  color: #7e7d7d;
  display: block;
}
.image-gallery__big-title {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  margin-bottom: 5rem;
}
.dark-theme .image-gallery__big-title {
  color: #eee;
}
.list-logos {
  margin-top: 3rem;
  padding: 3rem 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.list-logos img {
  padding: 0 18px;
}

.list-logos img:hover {
  opacity: 1;
}

@media (max-width: 480px) {
  .list-logos img {
    padding: 0 12px;
  }
}

@media (max-width: 415px) {
  .list-logos img {
    padding: 0 8px;
  }
}

@media (max-width: 384px) {
  .list-logos img {
    padding: 0 2px;
  }
}

.service-block {
}
.service-block__title {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  color: #3f3a64;
}
.dark-theme .service-block__title {
  color: #eee;
}
.service-block__wrap-item {
}

.service-image {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.service-information {
  padding: 0 20px;
  position: relative;
}

.service-information a.title {
  font-size: 19px;
  line-height: 28px;
  font-weight: 600;
  color: #3f3a64;
  text-align: center;
  background: white;
  padding: 12px 35px;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 8px;
  transform: translateY(-25px);
  box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
}
.service-information a.title:hover {
  color: #009f4d;
  text-decoration: none;
}
.service-information p.text-para {
  margin-top: -10px;
  font-size: 17px;
  line-height: 27px;
  color: #666;
  opacity: 0.8;
}
.services__btn-learn-more {
  padding: 8px 35px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 600;
  transition: 0.3s ease-in;
  color: #3f3a64;
  border-radius: 8px;
}
.dark-theme .services__btn-learn-more {
  color: #eee;
}
.services__btn-learn-more:hover {
  color: #009f4d;
}

.features-block {
  background: #f7f7f7;
}

.dark-theme .features-block {
  background: #100f19;
}

.dark-theme .features-block__title-big {
  color: #eee;
}

.features-block .features-block__grid-list-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
}

.features-block .box-wrap {
  padding: 40px 30px;
  border-radius: 8px;
  text-align: center;
  box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
  background-color: #fff;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.features-block .box-wrap:hover {
  transform: translateY(-0.25rem);
  box-shadow: rgba(46, 41, 51, 0.08) 0px 2px 4px,
    rgba(71, 63, 79, 0.16) 0px 5px 10px;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.features-block .box-wrap img {
  max-width: 65px;
  display: block;
  margin: 0 auto;
}
.dark-theme .features-block .box-wrap h4 a {
  color: #eee;
}
.features-block .box-wrap h4 a {
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
  margin-top: 25px;
  display: block;
  color: #3f3a64;
}

.features-block .box-wrap h4 a:hover {
  color: #009f4d;
}

@media (max-width: 1280px) {
  .features-block .buttons-top {
    margin-top: 3em;
    padding-top: 2em;
  }
}

@media (max-width: 1080px) {
  .features-block h3.ban-text-2 {
    font-size: 34px;
  }
  .features-block .section-title-left {
    font-size: 1.8em;
  }
}

@media (max-width: 992px) {
  .features-block .order2 {
    order: 2;
  }
  .features-block .order1 {
    order: 1;
  }
}

.dark-theme .features-block__grid-item {
  background-color: #151421;
}

@media (max-width: 800px) {
  .features-block .features-block__grid-item {
    padding: 1.5em;
  }
  .features-block .w3l-feature-grid {
    padding: 60px 0;
  }
}

@media (max-width: 667px) {
  .features-block h3.ban-text-2 {
    font-size: 32px;
  }
  .features-block p.text-para {
    margin: 14px 0 26px;
  }
  .features-block h4 a.title-head {
    font-size: 18px;
  }
  .features-block .call-grid-sub-2 {
    margin-top: 1.5em;
  }
  .features-block .buttons-top {
    margin-top: 2em;
  }
  .features-block .title-left {
    font-size: 1.5em;
    margin-bottom: 0.8em;
  }
}

@media (max-width: 568px) {
  .features-block h3.ban-text-2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .features-block .features-block__grid-list-item .icon img {
    width: 45px;
  }
  .features-block p.text-para {
    margin: 0px;
    margin-bottom: 10px;
  }
  .features-block h4 a.title-head {
    margin-bottom: 7px;
  }
  .features-block .call-grid-sub-2 {
    margin-top: 1em;
  }
  .features-block .w3l-feature-grid {
    padding: 50px 0;
  }
  .features-block .button-effe-2 {
    margin-top: 0px;
  }
}

@media (max-width: 440px) {
  .features-block .features-block__grid-list-item {
    /* grid-template-columns: 1fr; */
    grid-gap: 15px;
  }
  .features-block .features-block__grid-item {
    padding: 1.5em 1em;
  }
  .features-block .section-title-left {
    font-size: 1.5em;
  }
}

@media (max-width: 415px) {
  .features-block h3.ban-text-2 {
    font-size: 26px;
    line-height: 32px;
  }
  .features-block ul.list li {
    font-size: 15px;
  }
}

@media (max-width: 384px) {
  .features-block h4 a.title-head {
    font-size: 18px;
    margin-top: 15px;
  }
  .features-block .section-title-left {
    font-size: 1.3em;
  }
  .features-block .w3l-mobile-progress .mobile-right-info h6 a {
    font-size: 18px;
  }
}

@media (max-width: 320px) {
  .features-block .features-block__grid-list-item {
    display: block;
  }
  .features-block .features-block__grid-item.grids-effect-2 {
    margin-top: 1em;
  }
  .features-block .call-grid-sub-2 {
    margin-top: 0;
  }
}
.features-block__title-small {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1px;
  color: #7e7d7d;
  display: block;
}

.features-block__title-big {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  color: #3f3a64;
}
.features-block__description {
  font-size: 17px;
  line-height: 27px;
  color: #666;
  opacity: 0.8;
}
.features-block__btn {
  color: #fff;
  background-color: #00a63f;
  border-color: #00a63f;
  padding: 15px 50px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  transition: 0.3s ease-in;
  border-radius: 8px;
}
.features-block__btn:hover {
  color: #fff;
  background-color: #008030;
  border-color: #00732c;
}
.wrapper-footer {
  background: #151421;
  border-top: 1px solid rgba(249, 249, 249, 0.1);
}
.w3l-copyright {
  padding: 1.5em 0;
  border-top: 1px solid rgba(249, 249, 249, 0.1);
}
.w3l-copyright .copy-footer-29 a {
  color: #009f4d;
}

.w3l-copyright .copy-footer-29 a:hover {
  color: #fff;
}

.w3l-copyright {
  padding: 1.5em 0;
  border-top: 1px solid rgba(249, 249, 249, 0.1);
}
.wrapper-footer .footer-29 form {
  margin-top: 25px;
  position: relative;
}

.wrapper-footer .footer-post a {
  font-weight: 500;
  color: #ccc;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 4px;
  display: inline-block;
}

.w3l-copyright #movetop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  width: 50px;
  height: 50px;
  background: #009f4d;
  padding: 0;
  line-height: 36px;
  border-radius: 35px;
  transition: 0.3s ease-out;
}

.wrapper-footer .footer-post a:hover {
  color: #eee;
}

.wrapper-footer .map-iframe-ft iframe {
  height: 200px;
  border-radius: 8px;
}

.w3l-copyright p.copy-footer-29 {
  align-self: center;
  color: #7f8a94;
  font-size: 17px;
  letter-spacing: 0.5px;
  opacity: 1;
}

@media (max-width: 992px) {
  .w3l-copyright .copy-footer-29 {
    text-align: center;
  }
  .wrapper-footer ul.list-btm-29 {
    text-align: center;
    margin-top: 10px;
  }
  .wrapper-footer h6.footer-title-29 {
    margin-bottom: 20px;
    font-size: 20px;
  }
  .w3l-copyright .main-social-footer-29 {
    text-align: center;
    margin-top: 20px;
  }
}

@media (max-width: 415px) {
  .wrapper-footer .footer-list-29 ul li,
  .wrapper-footer
    .midd-footer-29:nth-child(1)
    .footer-list-29
    ul
    li:last-child {
    margin-bottom: 8px;
  }
  .wrapper-footer a.navbar-brand {
    font-size: 26px;
  }
  .wrapper-footer p {
    font-size: 17px;
  }
  .wrapper-footer .footer-list-29 ul li a,
  .wrapper-footer .footer-list-29 ul li p,
  .w3l-copyright .footer-list-29 ul li a,
  .wrapper-footer a {
    font-size: 17px;
  }
}
.home-block-support ul.service-list li {
  display: block;
  margin-bottom: 15px;
}

.home-block-support ul.service-list li:last-child {
  margin-bottom: 0px;
}

.home-block-support ul.service-list li a {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: #3f3a64;
  position: relative;
}

.home-block-support ul.service-list li a span.fa {
  color: #009f4d;
  margin-right: 5px;
  opacity: 0.8;
}

.dark-theme .home-block-support ul.service-list li a {
  color: #eee;
}

@media (max-width: 568px) {
  .home-block-support ul.service-list li {
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .HomeAboutImages .row {
    padding: 0 10px;
  }
  .HomeAboutImages .col-6 {
    padding: 0 5px;
  }
}

@media (max-width: 415px) {
  .home-block-support ul.service-list li {
    margin-bottom: 5px;
  }
}

@media (max-width: 384px) {
  .home-block-support ul.service-list li a {
    font-size: 16px;
    line-height: 27px;
  }
}

.home-block-support__title-small {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1px;
  color: #7e7d7d;
  display: block;
}
.home-block-support__title-big {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  color: #3f3a64;
}
.dark-theme .home-block-support__title-big {
  color: #eee;
}
.home-block-support__description {
  font-size: 17px;
  line-height: 27px;
  color: #666;
  opacity: 0.8;
}
.home-block-support__img {
  border-radius: 8px;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.theme-switch-wrapper em {
  margin-left: 10px;
  font-size: 1rem;
}

.theme-switch {
  display: inline-block;
  position: relative;
  margin: 0;
}

.theme-switch input {
  display: none;
}

.mode-container {
  width: 24px;
  height: 24px;
  padding: 1px 0;
}

.gg-sun {
  position: relative;
  transform: scale(var(--ggs, 1));
  height: 24px;
  background: linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat
      5px -6px/2px 6px,
    linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px 14px/2px
      6px,
    linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat -8px 5px/6px
      2px,
    linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 14px 5px/6px
      2px;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px;
  border: 6px solid transparent;
}

.gg-moon {
  overflow: hidden;
  position: relative;
  transform: rotate(-135deg) scale(var(--ggs, 1));
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-bottom: 2px solid transparent;
}

.gg-moon,
.gg-moon:after {
  display: block;
  box-sizing: border-box;
  border-radius: 50%;
  color: #eee;
}

.nav-fixed .gg-moon,
.nav-fixed .gg-moon:after {
  display: block;
  box-sizing: border-box;
  border-radius: 50%;
  color: var(--heading-color);
}

.gg-moon:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 18px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px;
  top: 8px;
  left: 2px;
}

.gg-sun,
.gg-sun:after,
.gg-sun:before {
  box-sizing: border-box;
  display: block;
  width: 24px;
  color: #eee;
}

.gg-sun:after,
.gg-sun:before {
  content: "";
  position: absolute;
  height: 2px;
  border-right: 4px solid;
  border-left: 4px solid;
  left: -6px;
  top: 5px;
}

.gg-sun:before {
  transform: rotate(-45deg);
}

.gg-sun:after {
  transform: rotate(45deg);
}

.mode-container i.gg-sun {
  display: none;
}

.mode-container i.gg-moon {
  display: block;
}

input:checked + .mode-container i.gg-sun {
  display: block;
}

input:checked + .mode-container i.gg-moon {
  display: none;
}
